.wrapdiv{
    background-color: black;
    width: 90vw;
    overflow: hidden;
    padding: 10vh 5vw 0px 5vw;
    height: 90vh;
}

.wrap{
    text-align: center;
}

.about{
    background: linear-gradient(139.66deg, #ff70f0 -17.01%, rgba(0, 0, 0, 0.25) 81.18%);
    width: 450px;
    height: 450px;
    text-align: center;
    border-radius: 50px;
    margin: auto;
    color: rgb(255, 255, 255);
}

.about img{
    max-width: 100px;
}

.about .content{
    max-width: 85vw;
    width: 350px;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-family: cursive;
    line-height: 23px;
    padding: 60px 60px ;
    text-align: left;
}


@media screen and (max-width:700px) {
    .about .content{
        font-size: 13px;
        padding: 30px ;
    }

    .about{
        background: linear-gradient(-199.66deg, #ff70f0 -57.01%, rgba(0, 0, 0, 0.25) 81.18%);

    }
}