.wrapdiv{
    color: white;
    background: url(../img/bgcontact.png) right center no-repeat;
    background-size: 50vw;
    padding: 10vh 5vw;
    width: 90vw;
    min-height: 85vh;
    background-color: black;
}

.img{
    position: fixed;
    top: 0%;
}

.contact{
    color: white;
}


.message{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.message img{
    width: max-content;
    margin: 20px auto;
}
.main{
    background-color: rgba(0, 0, 0, 0.263);
    border: 1px solid #ff70f0;
    margin-top: 10vh;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 10vh 5%;
}

.main div{
    max-width: 500px;
}

.main p{
    max-width: 300px;
}

.main input, textarea{
    background: rgba(255, 255, 255, 0.3);
    display: block;
    width: 340px;
    max-width: 80vw;
    box-shadow: 0px 10px 20px rgba(13, 14, 45, 0.15);
    border-radius: 10px;
    font-size: 13px;
    margin: 5px 0px;
    margin-bottom: 10px;
    padding: 10px 20px;
    outline: none;
    border: none;
}

.main ::placeholder{
    color: white;
}

.main h2{
    margin: 30px 0px;
}

.main textarea{
    height: 10vh;
}


.main button{
    background: linear-gradient(96.28deg, rgba(108, 27, 147, 0.8) 21.68%, rgba(249, 8, 254, 0) 103.35%);
    filter: drop-shadow(0px 10px 20px rgba(13, 14, 45, 0.15));
    outline: none;
    border: 1px solid #ff70f0;
    color: grey;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    padding: 10px 20px;
}

.main button:hover{
    background-color: white;
    color: black;
}

.main button:active{
    color: #ff70f0;
    background-color: white;
    border: 1px solid black;
}

.button{
    width: max-content;
    margin: auto;
}

@media screen and (max-width:700px) {


    .main{
        display: block;
        font-size: 14px;
    }

    .main input, textarea{
        padding: 10px;
        max-width: 70vw;
    }
}