.nav{
    position: fixed;
    z-index: 3;
    margin-top: 3vh;
    margin-left: 3%;
    width: 100vw;
}

li{
    list-style-type: none;
}



.nav nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav nav ul div{
    display: flex;
}

.nav li{
    border-right: 1px solid rgba(255, 255, 255, 0.543);
    padding: 2px 30px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.nav li:hover{
    color: grey;
}


.hidedesktop li{
    display: none;
}
.nav li.first{
    border-right: none;
    padding: 5px 30px;
}

.nav nav{
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 10px;
    border-radius: 20px;
    width: 90vw;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.nav nav:hover{
    transition: all 0.4s ease-in-out;
}



@media screen and (max-width:700px) {
    .nav nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav nav{
        width: 80px;
        background-color: rgb(0, 0, 0, 0.9);
        height: 50px;
        padding-top: 0px;
        
    }

    .nav li{
        border-right: none;
        border-top: 1px solid rgba(255, 255, 255, 0.543);
        padding: 10px 20px;
        cursor: pointer;
        color: white;
    }

    .nav li.first{
        border-top: none;
        padding: 5px 30px;
    }

    .nav nav:hover .hidedesktop li{
        visibility: hidden;
        transition: all 0.4s ease;
    }

    nav .logo img{
        height: 45px !important;
        padding: 1px;
    }

    .nav nav:hover{
        height: 230px;
        width: 120px;
        max-width: 100vw;
        transition: all 0.4s ease-in-out;
    }

    .nav nav .hidedesktop li{
        display: block;
        border-top: none;
        position: fixed;
        top: 6vh;
        right: 10px;
    }

    .nav nav ul div{
        display: block;
    }
}