.nav{
    position: fixed;
    z-index: 3;
    margin-top: 3vh;
    margin-left: 3%;
    width: 100vw;
}

li{
    list-style-type: none;
}



.nav nav ul{
    display: flex;
    align-items: center;
}

.nav li{
    border-left: 1px solid rgba(255, 255, 255, 0.543);
    padding: 2px 30px;
    cursor: pointer;
    color: white;
}

.nav li:hover{
    color: grey;
}

.nav li.first{
    border-left: none;
    padding: 5px 30px;
}

.nav nav{
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 10px;
    border-radius: 20px;
    width: 500px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.nav nav:hover{
    width: 500px;
    max-width: 100vw;
    transition: all 0.4s ease-in-out;
}



@media screen and (max-width:700px) {
    .nav nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav nav{
        width: 80px;
        height: 40px;
    }

    .nav li{
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.543);
        padding: 10px 20px;
        cursor: pointer;
        color: white;
    }

    .nav li.first{
        border-top: none;
        padding: 5px 30px;
    }

    .nav nav:hover{
        height: 200px;
        width: 120px;
        max-width: 100vw;
        transition: all 0.4s ease-in-out;
    }
}