
  
  .preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px; /* adjust the width to your liking */
    height: 270px; /* adjust the height to your liking */
    border-radius: 50%;
    color: white;
    background-color: grey; /* adjust the background color to your liking */
    animation: pulse 1s ease-in-out infinite; /* add an animation to the preloader */
  }
  
  .text {
    font-family: 'YourFeminineFont', cursive; /* replace 'YourFeminineFont' with the name of your chosen font */
    font-size: 36px; /* adjust the font size to your liking */
    color: white; /* adjust the color to your liking */
    animation: appear 1s linear; /* add an animation to the text */
  }

  .preloader-container.show {
    visibility: visible;
    width: 100vw;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
    
  .preloader-container {
    display: flex;
    justify-content: center;
    width: 0%;
    align-items: center;
    height: 110vh;
    z-index: 29320899;
    position: fixed;
    top: 0px;
    background-color: black; /* adjust the background color to your liking */
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear 1s;
    /* the transition delay should be equal to the duration of the appear animation */
  }
  
  
  
  
  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.9);
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
